@{
    ViewBag.Title = "Agregar Transacción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="header-card">
            <h2 class="text-center">Agregar Nueva Transacción</h2>
        </div>
        <div class="card-body">
            <form id="transaccionForm">
                <div class="form-group">
                    <label for="numeroTarjeta">Número de Tarjeta</label>
                    <input type="text" class="form-control" id="numeroTarjeta" name="numeroTarjeta" required>
                </div>

                <div class="form-group">
                    <label for="cliente">Nombre del Cliente</label>
                    <input type="text" class="form-control" id="cliente" name="cliente" required>
                </div>

                <div class="form-group">
                    <label for="fechaTransaccion">Fecha de Transacción</label>
                    <input type="date" class="form-control" id="fechaTransaccion" name="fechaTransaccion" required>
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                </div>

                <div class="form-group">
                    <label for="monto">Monto</label>
                    <input type="number" step="0.01" class="form-control" id="monto" name="monto" required>
                </div>

                <div class="form-group">
                    <label for="tipoTransaccion">Tipo de Transacción</label>
                    <select class="form-control" id="tipoTransaccion" name="tipoTransaccion" required>
                        <option value="1">Pago</option>
                        <option value="2">Compra</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Guardar Transacción</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('transaccionForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const transaccion = {
            numeroTarjeta: document.getElementById('numeroTarjeta').value,
            cliente: document.getElementById('cliente').value,
            fechaTransaccion: document.getElementById('fechaTransaccion').value,
            descripcion: document.getElementById('descripcion').value,
            monto: parseFloat(document.getElementById('monto').value),
            tipoTransaccion: parseInt(document.getElementById('tipoTransaccion').value)
        };

        // Simular el envío de los datos
        console.log('Transacción:', transaccion);
        alert('Transacción guardada exitosamente');

        // Resetear el formulario después de guardarlo
        document.getElementById('transaccionForm').reset();
    });
</script>